CLEANLEAF_TIER1_MAX_HA=50
CLEANLEAF_TIER2_MAX_HA=5000
N8N_WEBHOOK_URL_WEEKLY=
N8N_WEBHOOK_URL_ON_DEMAND=
N8N_AUTH_TOKEN=
DIFY_BASE_URL=
DIFY_API_KEY=
SENTINEL_HUB_CLIENT_ID=
SENTINEL_HUB_CLIENT_SECRET=
