CLEANLEAF_TIER1_MAX_HA=50
CLEANLEAF_TIER2_MAX_HA=5000
N8N_WEBHOOK_URL_WEEKLY=
N8N_WEBHOOK_URL_ON_DEMAND=
N8N_AUTH_TOKEN=
DIFY_BASE_URL=
DIFY_API_KEY=
COPERNICUS_CLIENT_ID=sh-79ab7ae6-ca8d-4823-90d1-fca2c30fe535
COPERNICUS_CLIENT_SECRET=
